*{
    font-family: 'Poppins', sans-serif;

}

/* cuerpo general */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.hiddenVistoBueno{
    display: none;
}

.activeVistoBueno{
display: none;
};

.containerTramiteVistoBueno{
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}


/*fin de el stepper*/
.form-group-tramite {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group-tramite label {
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group-tramite input {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #007bff;
  }
  
  .form-group-tramite select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #007bff;
  }
  

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
            /*COMIENZO DE MODAL DE INFORMACION*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.modalInfoTramiteVistoBueno{
  text-align: center;
  padding: 10px;
  border: 3px solid #faa21b;
  border-radius: 5px;

}

/* Estilo del Modal */
.detalleTramiteVistoBueno-container {
  display: flex;
  flex-wrap: wrap; /* permite que los elementos pasen a la siguiente l칤nea si no caben */
  justify-content: center; /* centra los cards horizontalmente */
  gap: 16px; /* espacio entre cards */
  margin-top: 20px; /* separa los cards del h2 y la info */
}

/* estilos de los cards */
.detalleTramiteVistoBueno-card {
  flex: 1 1 calc(25% - 16px); /* 4 cards por fila en pantallas grandes */
  max-width: calc(25% - 16px);
  min-width: 200px; /* ancho m칤nimo para evitar que sean demasiado peque침os */
  height: auto;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11), -15px -15px 30px rgba(60, 60, 60, 0.082);
}

  
  .modalInfoTramiteVistoBueno-content h2{
    margin-bottom: 15px;
    border-radius: 5px;
    color: #0b3b60;
    border-bottom: 2px solid #faa21b;
  }
  
  .modalInfoTramiteVistoBueno-content p {
    color: gray;
  }
  
  
  /* Cards individuales */
  .detalleTramiteVistoBueno-card {
    flex: 1 1 calc(33.333% - 16px); /* Tres cards por fila en pantallas grandes */
    max-width: calc(33.333% - 16px); /* Limitar ancho m치ximo */
    min-width: 250px; /* Ancho m칤nimo para evitar que sean demasiado peque침as */
    height: auto;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11), -15px -15px 30px rgba(60, 60, 60, 0.082);
  }
  
/* media queries para adaptar el n칰mero de columnas */
@media (max-width: 1024px) {
  .detalleTramiteVistoBueno-card {
      flex: 1 1 calc(33.333% - 16px); /* 3 cards por fila en pantallas medianas */
      max-width: calc(33.333% - 16px);
  }
}

@media (max-width: 768px) {
  .detalleTramiteVistoBueno-card {
      flex: 1 1 calc(50% - 16px); /* 2 cards por fila en pantallas peque침as */
      max-width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .detalleTramiteVistoBueno-card {
      flex: 1 1 100%; /* 1 card por fila en pantallas muy peque침as */
      max-width: 100%;
  }
}
  
  
  .detalleTramiteVistoBueno-card:hover {
    background: linear-gradient(360deg, #edededc5 60%, #0b3b60 70%);
    
  }



.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-header {
    cursor: pointer;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0b3b60;
    margin-bottom: 16px;
    color: #fff;
}

.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-header .detalleTramiteVistoBueno-title {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all 0.5s;
}

.detalleTramiteVistoBueno-card:hover .detalleTramiteVistoBueno-header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.detalleTramiteVistoBueno-card:hover .detalleTramiteVistoBueno-header .detalleTramiteVistoBueno-title {
    padding: 0;
}

.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-header .detalleTramiteVistoBueno-icon {
    font-size: 48px;
    color: #faa21b;
    transition: color 0.3s ease, transform 0.3s ease;
}

.detalleTramiteVistoBueno-card:hover .detalleTramiteVistoBueno-header .detalleTramiteVistoBueno-icon {
    color: #edededea;
    transform: scale(1.1);
}

.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-content {
    display: block;
    text-align: left;
    color: #212121;
    margin: 0 18px;
}

.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-content p {
    transition: all 0.5s;
    font-size: 0.8em;
    margin-bottom: 8px;
}

.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-content a {
    color: #0b3b60;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-content .detalleTramiteVistoBueno-btn-link:hover {
    border-bottom: 1px solid #0b3b60;
}

/* Modal styling */
.detalleTramiteVistoBueno-modalInfos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detalleTramiteVistoBueno-modalInfos.show {
    display: flex;
}

.detalleTramiteVistoBueno-modalInfos-content {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto; 
    text-align: center;
    position: relative;
}

.detalleTramiteVistoBueno-modalInfos2-content {
    text-align: left;
}

.detalleTramiteVistoBueno-modalInfos-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0b3b60;
}

.detalleTramiteVistoBueno-modalInfos-content p {
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}

.detalleTramiteVistoBueno-modalInfos-content .detalleTramiteVistoBueno-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #faa21b;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.detalleTramiteVistoBueno-modalInfos-content .detalleTramiteVistoBueno-close-btn:hover {
    background: #e69900;
}

/* Estilos de los botones */
.btnVolverVistoBueno {
  background-color: #999595;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnVolverAInfo {
  background-color: #999595;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnNextVistoBueno {
  background-color: #0b3b60;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnConfirmarVistoBueno {
  background-color: #0b3b60;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnPrevVistoBueno {
  background-color: #999595;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto Hover */
.btnVolverVistoBueno:hover,
.btnVolverAInfo:hover,
.btnNextVistoBueno:hover,
.btnPrevVistoBueno:hover {
  background-color: #007bff;
  transform: scale(1.05);
}

/* Efecto de foco (cuando el bot칩n est치 activo o seleccionado) */
.btnVolverVistoBueno:focus,
.btnVolverAInfo:focus,
.btnNextVistoBueno:focus,
.btnPrevVistoBueno:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(255, 165, 26, 0.6); 
}


/* Responsiveness */
@media (max-width: 768px) {
    .detalleTramiteVistoBueno-card {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .detalleTramiteVistoBueno-card:hover {
        height: auto;
    }

    .detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-header {
        padding: 16px;
    }

    .detalleTramiteVistoBueno-card .detalleTramiteVistoBueno-header .detalleTramiteVistoBueno-icon {
        font-size: 36px;
    }

    .detalleTramiteVistoBueno-modalInfos-content {
        width: 90%;
        max-height: 90%;
        padding: 16px;
    }

    .detalleTramiteVistoBueno-modalInfos-content h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .detalleTramiteVistoBueno-card {
        width: 100%;
        margin: 8px 0;
    }

    .detalleTramiteVistoBueno-modalInfos-content {
        width: 95%;
        max-height: 90%;
    }
}
/*********************************************************************************/
/********************************STEPPER******************************************/
/*********************************************************************************/

/* Mantiene el dise침o original para pantallas grandes */
.stepperVistoBueno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 100%;
}

/* Mantiene el estilo de los pasos en escritorio */
.stepVistoBueno {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  min-width: 100px;
}

/* C칤rculo con n칰mero */
.stepVistoBueno .circle {
  background-color: #e0e0e0;  /* Color de fondo por defecto */
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* L칤nea entre los pasos */
.lineVistoBueno {
  display: block;
  width: 45px;
  height: 2px;
  background-color: #3f90ce;
  align-self: center;
  margin: 0 10px;
}

/* 游댯 En PC: Mantener todos los c칤rculos visibles y pintar los pasos completados */
.stepVistoBueno.completed .circle {
  background-color: #0b3b60; /* Color para pasos completados */
  color: #fff;
}

/* 游댯 En PC: Destacar el paso actual */
.stepVistoBueno.active .circle {
  background-color: #0b3b60; /* Color especial para el paso activo */
  color: #fff;
}

/* 游댷 VISTA M칍VIL: Mostrar solo el paso actual */
@media (max-width: 768px) {
  .stepperVistoBueno {
      display: flex; /* Asegura que los elementos se alineen correctamente */
      justify-content: center; /* Centra el 칰nico paso visible */
      align-items: center;
      width: 100%;
  }

  .stepVistoBueno {
      display: none; /* Oculta todos los pasos en m칩viles */
  }

  .stepVistoBueno.active {
      display: flex; /* Solo se muestra el paso activo */
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .lineVistoBueno {
      display: none; /* Oculta las l칤neas en vista m칩vil */
  }
}

      
 
      
      
  /* Estilo del form */

  
  .containerFormTramiteVistoBueno {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* ajusta el ancho del formulario al 90% del body */
    min-width: 300px; /* evita que se haga demasiado peque침o en pantallas peque침as */
    text-align: center;
    margin-top: 20px;
  }
  
  .containerFormTramiteVistoBueno h2 {
    margin-top: 0;
  }
  
  .containerFormTramiteVistoBueno p {
    color: gray;
    margin-bottom: 10px;
  }
  
  .close-containerFormTramiteVistoBueno {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /*header */

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* azul */
    color: rgb(0, 0, 0);
    padding: 15px;
    position: relative;
    width: 100%;
}

.header-image {
    width: auto;  /* mantiene su tama침o original */
    max-width: 100%; /* evita que se salga de la pantalla en dispositivos peque침os */
    height: auto; /* mantiene la proporci칩n original */
    display: block;
    margin: 0 auto; /* centra la imagen */
}



.header-logo {
    height: 80px; /* ajusta el tama침o de la imagen seg칰n necesites */
    width: auto;
    position: absolute;
    left: 20px;
}

.header-title {
    font-size: 24px;
    text-align: center;
}

.titulo-tramite {
    background-color: #007bff; /* azul */
    color: white;
    text-align: center;
    padding: 5px; /* reduce la altura */
    font-size: 10px; /* hace el texto m치s peque침o */
    font-weight: bold;
    width: 100%;
}


input.invalid {
  border: 2px solid red; /* Marca el borde en rojo */
}

select.invalid {
  border: 2px solid red; /* Marca el borde en rojo para select */
}


/*MODAL DE ADVERTENCIA DE LLENADO DE CAMPOS*/

.modal-validar-campos {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content-validar {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.icono-advertencia-validar {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.close-modal-validar {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

#cerrarModalValidar {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#cerrarModalValidar:hover {
  background-color: darkred;
}


/*ESTILOS DE LOS MODALES DE CONFIRMACION Y DE RESPUESTA*/

/* Fondo oscuro detr치s del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Sombra oscura */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenido del modal */
.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* Animaci칩n de entrada */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Botones del modal */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-confirm {
  background: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn-cerrar {
  background: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn-cancel {
  background: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.btnVolverInicio{
  background: rgb(22, 19, 194);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn-confirm:hover {
  background: darkgreen;
}

.btn-cancel:hover {
  background: darkred;
}


.btnVolverInicio:hover {
  background: rgb(52, 32, 145);
}

/* Estilos espec칤ficos para 칠xito y error */
.success {
  border-left: 5px solid green;
}

.error {
  border-left: 5px solid red;
}

/*ESTILOS RADIO DE EVALUACION*/
/* Estilos generales del formulario */
/* Estilos generales del formulario */
#formVistoBueno {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centra el contenido del formulario */
}

/* Estilos para cada pregunta */
.pregunta-visto {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #ccc;
}

/* Estilo del texto de las preguntas */
.pregunta-visto label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  text-align: center; /* Centra el texto de las preguntas */
}

/* Alineaci칩n de los radios en fila y centrados */
.opciones-visto {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  flex-wrap: wrap;
  align-items: center;
  gap: 20px; /* Espacio entre opciones */
}

/* Asegurar que los radios est칠n alineados correctamente */
.opciones-visto input[type="radio"] {
  margin-right: 5px; /* Espacio entre el radio y el label */
}

.opciones-visto label {
  white-space: nowrap; /* Evita que el texto del label se divida en varias l칤neas */
  cursor: pointer;
}

/* Asegurar que los radios se mantengan centrados sin romperse */
.opciones-visto.fila {
  flex-wrap: nowrap;
  overflow-x: auto; /* Agrega desplazamiento horizontal si el contenido es muy largo */
}

/* Estilos para el campo obligatorio */
.requerido {
  color: red;
  font-weight: bold;
}

/* Estilos para los botones de navegaci칩n */
.navegacion-visto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.navegacion-visto button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.navegacion-visto button:hover {
  background: #0056b3;
}


.pregunta-visto.invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
}


#tablariesgoBajo,
#tablariesgoMedio,
#tablariesgoAlto {
    display: none; /* Oculta todas las tablas inicialmente */
}

.form-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* Cada grupo ocupa el 50% menos el gap */
.form-columns .form-group {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}
/* En pantallas peque침as, cada grupo ocupa el 100% */
@media (max-width: 768px) {
  .form-columns .form-group {
    flex: 1 1 100%;
  }
}