<form>
    <div>
        <label for="nombre">Datos</label>
        <input type="text" class="form-control" id="cve_catastral">
        <input type="text" class="form-control" id="razon_social">
        <label>Ubicación del predio en estudio</label>
        <input type="text" class="form-control" id="calle_predio">
        <input type="text" class="form-control" id="numero_ext_pred">
        <input type="text" class="form-control" id="numero_int_pred">
        <input type="text" class="form-control" id="colonia_predio">
        <input type="text" class="form-control" id="cp_predio">
        <div id="map"></div>
        <label>Seleccione el trámite requerido</label>
        <select>
            <input type="checkbox" id="fact-uso">
            <input type="checkbox" id="dict-uso">
            <input type="checkbox" id="fact-giro">
        </select>
    </div>
</form>