/* Becas Styles */
.modalTramites #becaInfoModal .modal-content {
  border-left: 5px solid #007bff;
}

.modalTramites #modalBecas .container {
  border-left: 5px solid #007bff;
}

/* Custom Colors for Becas */
.modalTramites #modalBecas .stepper .step.active .circle {
  background-color: #007bff;
}

/* Map Styles */
.modalTramites #map {
  width: 350px;
  height: 150px;
  margin-top: 20px;
  align-content: center;
}

.upload-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.upload-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}

/* Botones específicos del paso 2 */
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button-group .btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group .btn.save {
  background-color: #007bff;
  /* Azul */
  color: white;
}

.button-group .btn.validate {
  background-color: #28a745;
  /* Verde */
  color: white;
}

.button-group .btn:hover {
  opacity: 0.9;
}

/* Estilo general para los radiobuttons */
.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
  /* Ocultar el radiobutton por defecto */
}

.radio-button .radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.2s ease;
}

.radio-button input[type="radio"]:checked+.radio-circle {
  background-color: #007bff;
}

.radio-button .radio-label {
  font-size: 14px;
  color: #333;
}


<<<<<<< Updated upstream #protesta-container .protesta {
  width: 50%;
  /* Ajusta el tamaño según lo necesites */
  padding: 20px;
  margin: 0 auto;
  /* Esto centra el contenedor horizontalmente */
  text-align: center;
  /* Centra el texto en general */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #faa21b;
}

#protesta-container .contenedor-protesta {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 35vh;
  /* Ajusta la altura del contenedor */
}

#protesta-container .labelProtesta {
  display: block;
  text-align: center;
  /* Centra el texto en el label */
  margin-bottom: 15px;
  /* Espaciado entre el texto y el radio button */
}

#protesta-container .radio-buttons {
  display: flex;
  justify-content: center;
  /* Centra el radio button y el texto horizontalmente */
  align-items: center;
  /* Centra el radio button y el texto verticalmente */
}

#protesta-container .radio-button {
  display: flex;
  flex-direction: column;
  /* Coloca el círculo y el texto de "Acepto" en columna */
  align-items: center;
  /* Centra los elementos en el eje horizontal */
  justify-content: center;
  /* Centra los elementos en el eje vertical */
}

#protesta-container .radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  margin-bottom: 5px;
  /* Separación entre el círculo y el texto */
}

#protesta-container .radio-label {
  font-size: 14px;
  color: #333;
}

.btnSubirDoc {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}

.btnBorrarDoc {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;

}

.contenedorConfirmacionBeca {
  display: flex;
  background-color: #333;
  width: 50%;
  height: 40%;
  <<<<<<< HEAD <<<<<<< HEAD
}

/*estilos de el contenedor de confirmacion*/

/* Contenedor de éxito */
.success-container-confirmacion-becas {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f3fff3;
  border: 1px solid #c3e6cb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título de éxito */
.success-title-confirmacion-becas {
  color: #28a745;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Texto de confirmación */
.success-text-confirmacion-becas {
  color: #6c757d;
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}

/* Pregunta de confirmación */
.success-question-confirmacion-becas {
  color: #212529;
  font-size: 18px;
  margin-bottom: 20px;
}